<?xml version="1.0" encoding="utf-8" ?>
<DBConfigInfo xmlns:xsi="www.w3.org/2001/XMLSchema-instance" xmlns:xsd="www.w3.org/2001/XMLSchema">
  <!--<DBConnectionString>database=house_wap_test;user id=house_wap_test_admin;pwd=f3Da2F7);Data Source=124.251.46.179;Pooling=true</DBConnectionString>-->
  <!--<DBConnectionString>data source=hp680g1\wk;initial catalog=brnshop;integrated security=true;pooling=true</DBConnectionString>-->
  <DBConnectionString>Data Source=hp680g1\wk;Initial Catalog=brnshop;Integrated Security=True;Pooling=true</DBConnectionString>
  <DBTablePre>bsp_</DBTablePre>
  <DBType>SqlServer</DBType>
</DBConfigInfo>
