<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <!--自带的Handler配置节点  位于Configuration的第一个节点-->
  <configSections>
    <section name="People" type="System.Configuration.NameValueSectionHandler"/>
    <section name="Human" type="System.Configuration.DictionarySectionHandler"/>
    <section name="Person" type="System.Configuration.SingleTagSectionHandler"/>
    <section name="Man" type ="webConfig.ManHandler,webConfig,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="Ren" type="webconfig.Ren,webconfig"/>
    <section name="MySection" type="webconfig.MySection, webconfig" />
    <section name="Living" type="webconfig.LivingSection, webconfig"/>
  </configSections>

  

  <appSettings>
    <add key="Version" value="2.0.0.0"/>
  </appSettings>
  <connectionStrings>
    <add name="connstr" connectionString="Data Source=hp680g1\wk;Initial Catalog=brnshop;Integrated Security=True;Pooling=true"/>
  </connectionStrings>
 
  <People>
    <add key="Name" value="wk"/>
    <add key="Age" value="24"/>
    <add key="Address" value="BeiJing"/>
  </People>

  <Human>
    <add key="Name" value="wk"/>
    <add key="Age" value="24"/>
    <add key="Address" value="BeiJing"/>
  </Human>

  <Person Name="wk" Age="24" Address="BeiJing"/>

  <Man Name="wk" Age="24" Address="BeiJing"/>

  <Ren yanjing="2">
    <ShuXing Name="wk" Age="24" Address="BeiJing"/>
  </Ren>

  <Living>
  </Living>

  <!--有时候，在配置文件里可能会包含一些比较复杂的代码段，这时候就要用到XML的CDATA了-->
  <MySection>
    <HTML>
      <![CDATA[
          <div style="#background-color:#000; font-size:24px">加粗显示</div>
      ]]>
    </HTML>
    <SQL>
      <![CDATA[
          SELECT TOP 10 * FROM Person
      ]]>
    </SQL>
  </MySection>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

</configuration>
