@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>后台首页</title>
    <style type="text/css">
        * {
        padding:0px;
        margin:0px;
        }
        #bottom {
            background: rgba(0, 0, 0, 0) url("/Content/Images/Admin/bottomBg.jpg") repeat scroll 0 0;
            color: #fff;                     
            font-size:13px;
            height:60px;
            line-height:26px;
            padding:8px;
            text-align: center; 
            margin-top:4px;                                 
        }
    </style>
</head>
<body>
    <div id="bottom">
        Copyright @@2015-2016 wangkai.com Inc. All Rights Reserved
        <br />
        程序版本:1.0.000
    </div>
</body>
</html>
