@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RunInfo</title>
</head>
<body>
    <div>
       内容
    </div>
</body>
</html>
