<?xml version="1.0" encoding="utf-8" ?>
<WebConfig xmlns:xsi="www.w3.org/2001/XMLSchema-instance" xmlns:xsd="www.w3.org/2001/XMLSchema">
  <IsClosed>0</IsClosed>
  <CloseReason>系统正在升级中...</CloseReason>
  <BanAccessTime>2015/11/2-2015/11/6</BanAccessTime>
  <BanAccessIP>127.0.1.*</BanAccessIP>
  <AllowAccessIP>127.0.0.*</AllowAccessIP>
  <AdminAllowAccessIP> 
    127.0.0.*
    127.1.0.*
    127.2.0.*
  </AdminAllowAccessIP>
  <CookieDomain>/</CookieDomain>
  <RandomLibrary></RandomLibrary>
  <VerifyPages></VerifyPages>
  <IgnoreWords>搜索</IgnoreWords>
  <AllowEmailProvider></AllowEmailProvider>
  <BanEmailProvider></BanEmailProvider>
  
  <ImageCDN />
  <CSSCDN />
  <ScriptCDN />
  <OnlineUserExpire>8</OnlineUserExpire>
  <MaxOnlineCount>10000</MaxOnlineCount>
  <OnlineCountExpire>4</OnlineCountExpire>
  <UpdateOnlineTimeSpan>2</UpdateOnlineTimeSpan>
</WebConfig>
